/* .heading{
  display: flex;
  flex-direction: column;
  margin: 50px;
  margin-bottom: 30px;
}
.header{
  background-color: darkslategray;
  padding: 1rem;

}
.header>a{

  color: aliceblue;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
} */

header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.site-container {
  min-height: 100vh;
}
main {
  padding: 1rem;
  flex: 1;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.product__card{
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  justify-content: space-between;
  margin: 10px;
  box-shadow:-5px 5px 20px -6px rgba(0, 0, 0, 0.50);
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  background-color: whitesmoke;


}


.product img {
  width: 270px ;
  height: 270px;
  align-items: center;
  border-radius: 20px;
  margin-top: 5px;

}
.product-info {
  padding: 1rem;
  text-decoration: none;
  color: black;

} 


.rating>span{
  color: gold;
}
.rating>.reviews{
  color: black;
  font-size:large;
}


.img-large{
  max-width: 100%;
}

  /* cart screen image syle */
.img-thumbnail {
  height: 80px;
}

/* signin  form syle */
.small-container {
  max-width: 600px;
}

/* check out page design */

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}